option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-2
    PRESALE_TABLE: dpnetsale
    WHITELIST_TABLE: dpnet-whitelist
    TRANSACTIONS_TABLE: dpnet-transactions
    NODE_ENV: production
    
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-982534395798"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "elasticbeanstalk-ec2-role-double9"
              OptionName: "IamInstanceProfile"

files:
  "/etc/aws/config":
    mode: "000400"
    owner: webapp
    group: webapp
    content: |
      [default]
      region = us-east-2