{
  "option_settings": [
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "IamInstanceProfile",
      "value": "elasticbeanstalk-ec2-profile-double9"
    },
    {
      "namespace": "aws:elasticbeanstalk:environment:proxy",
      "option_name": "ProxyServer",
      "value": "nginx"
    }
  ]
}
