option_settings:
  aws:elasticbeanstalk:application:environment:
    PRESALE_TABLE: dpnetsale
    WHITELIST_TABLE: dpnet-whitelist
    TRANSACTIONS_TABLE: dpnet-transactions
    WALLET_TABLE: DPNET10_Wallets
    TRANSACTION_TABLE: DPNET10_Transactions
    METADATA_TABLE: DPNET10_Metadata
    SOLANA_RPC_URL: https://api.devnet.solana.com
    PRESALE_POOL_ADDRESS: bJhdXiRhddYL2wXHjx3CEsGDRDCLYrW5ZxmG4xeSahX
    TOKEN_ADDRESS: F4qB6W5tUPHXRE1nfnw7MkLAu3YU7T12o6T52QKq5pQK
    NODE_ENV: production
